@-moz-document domain("egyflix.net"){
*{-moz-binding: url(about:abp-elemhidehit?782602669745#dummy) !important;}
}
@-moz-document domain("gallery-dump.com"){
CENTER{-moz-binding: url(about:abp-elemhidehit?840075410614#dummy) !important;}
}
@-moz-document domain("clean-sweep-winner-congrats.com"){
HTML{-moz-binding: url(about:abp-elemhidehit?833769332919#dummy) !important;}
}
@-moz-document domain("anchorfree.net"){
HTML{-moz-binding: url(about:abp-elemhidehit?379587685177#dummy) !important;}
}
@-moz-document domain("plarium.com"){
HTML{-moz-binding: url(about:abp-elemhidehit?366446226381#dummy) !important;}
}
